@use "@/styles/variables" as *;

.wrapper {
    position: relative;
    padding: 1.2rem;
    input {
        border-radius: 0.2rem;
        border: 1px solid rgba(255,255,255,0.05);
        box-shadow: 0 10px 30px rgba(0,0,0,0.4);
        background: #111827;
        outline: none;

        width: 70%;
        font-size: $text-size-sub;
        color: $text-col-main;

        transition: border-color 0.5s, box-shadow 0.3s;

        &:focus {
            border-color: $primary;
            box-shadow: 0 0 6px rgba($primary, 0.4);
        }
    }

    .label {
        position: absolute;
        top: 1.3rem;
        font-size: $text-size-sub;

        transition: font-size 0.3s, transform 0.5s;
    }
    &.focused .label {
        transform: translateY(-1.1rem);
        font-size: $text-size-sm;
        color: $primary;
    }


}


