@use "@/styles/variables" as *;

.card {
  background: #111827;
  border-radius: 16px;
  padding: 1rem;
  color: $text-col-main;
  border: 1px solid rgba(255,255,255,0.05);
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}